@font-face {
    font-family: "rallyfont";
    src: url(./assets/WRCCleanRoman.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.rallyevent {
    font-family: "rallyfont";
}
